body{
    margin: 20px;
    padding: 20px;
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
  }
#title{
    font-size: 50px;
}
#name{
    font-size: 30px;
}
#content{
    font-size: 30px;
}
