body{
    margin: 20px;
    padding: 50px;
    font-family: 'Noto Serif KR', serif;
    font-size: 40px;
    font-weight: 600;
    font-color: #FFFFFF;
  background-color: #090982;
}
.title{
    font-size: 70px;
    font-weight: 700;
}
.titlen{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 70px;
    font-weight: 500;
}
.name{
    font-size: 30px;
     font-weight: 300;
}
.namen{
        font-family: 'Noto Sans HK', sans-serif;
    font-size: 30px;
     font-weight: 300;
}
#content{
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}
